<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>EduTrack</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <mat-nav-list class="nav-list">

      <!-- Dashboard -->
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="nav-item">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>

      <mat-divider class="nav-divider"></mat-divider>

      <!-- Collapsible Groups -->
      <ng-container *ngFor="let group of navGroups">

        <div class="nav-group-header" (click)="toggleGroup(group.id)"
             [class.open]="isGroupOpen(group.id)">
          <mat-icon class="group-icon">{{ group.icon }}</mat-icon>
          <span class="group-label">{{ group.label }}</span>
          <mat-icon class="chevron">
            {{ isGroupOpen(group.id) ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        </div>

        <div class="nav-children" [class.expanded]="isGroupOpen(group.id)">
          <a *ngFor="let item of group.children"
             mat-list-item
             [routerLink]="item.route"
             routerLinkActive="active"
             class="nav-item nav-child-item">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        </div>

      </ng-container>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
