.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav {
  width: 250px;
}

.content {
  padding: 20px;
}

mat-nav-list a {
  display: flex;
  align-items: center;
}

mat-nav-list a mat-icon {
  margin-right: 16px;
}

mat-nav-list a.active {
  background-color: rgba(0, 0, 0, 0.04);
  color: #1976d2;
}